<!doctype html>
<html>
    <head>
        <meta name="viewport" content="width=device-width" />
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <title>You are invited to the KoALa session: {{ sessionName }}</title>
    </head>
    <body>
        Message: {{ message }}
        Code: {{ code }}
    </body>
</html>