<html>
  <head>
    <meta name='viewport' content='width=device-width' />
    <meta http-equiv='Content-Type' content='text/html; charset=UTF-8' />
    <title>You are invited to the KoALa session: {{sessionName}}</title>
  </head>
  <body>
    {{{message}}}

    <p>
      Bitte klicken Sie auf den folgenden Link, um der Session beizutreten:
      {{sessionLink}}
    </p>

    <p>
      <img style='height: 40px;' src='http://localhost:3333/koala-logo.png' />
    </p>

    <p>
      Kollaborative Annotations- und Lernanwendung der Hochschule für Musik Freiburg
    </p>
    <p>
      <a href='https://koala.mh-freiburg.de/'>https://koala.mh-freiburg.de/</a>
    </p>

  </body>
</html>