.app-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  align-items: center;
}

.header {
  width: 100%;
}

.footer {
  width: 100%;
}

.content {
  width: 95%;
  flex: 1;
  margin-top: 20px;
  margin-bottom: 20px;
  background-color: rgba(255, 255, 255, 0.7);
}
