.app-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  align-items: center;
  gap: 20px;
}

.header {
  width: 100%;
}

.footer {
  width: 100%;
}

.content {
  flex: 1;
  width: 95%;
}
