{
  "plugins": [
    "./node_modules/prettier-plugin-multiline-arrays"
  ],
  "singleQuote": true,
  "printWidth": 120,
  "semi": true,
  "trailingComma": "es5",
  "arrowParens": "always",
  "multilineArraysWrapThreshold": 0
}
