<div class="center" style="height: 100%" (keyup.enter)="onCodeLogin()">
  <img
    src="../../../../../assets/koala-logo-rund_petrol.png"
    alt="KoALa Logo"
    style="max-width: 250px; height: auto; margin-bottom: 40px"
  />

  <div [formGroup]="loginForm">
    <div style="display: flex; flex-direction: row">
      <span class="p-float-label">
        <input id="login-session-code-input" type="text" pInputText formControlName="sessionCode" />
        <label for="login-session-code-input">{{ 'AUTH.LOGIN.SESSION_CODE_PLACEHOLDER' | translate }}</label>
      </span>
      <button
        pButton
        pRipple
        type="submit"
        (keyup.enter)="onCodeLogin()"
        (click)="onCodeLogin()"
        icon="pi pi-angle-right"
        style="border-radius: 15px"
        class="p-button-raised"
        [disabled]="!loginForm.valid"
      ></button>
    </div>
  </div>
</div>
