@import '../../../../../../../node_modules/flag-icons/css/flag-icons.min.css';

.toolbar-spacer {
  flex: 1 1 auto;
}

.clickable {
  cursor: pointer;
}

.header-toolbar {
  background-color: #ffffff;
  opacity: 70%;
}

.language-menu-item {
  margin-bottom: 15px;
}

.language-label {
  margin-left: 10px;
}
