<footer class="footer">
  <p-divider></p-divider>
  <div class="footer-container">
    <p-button label="© Koala App 2023/2024" styleClass="p-button-link" [routerLink]="['github']"></p-button>
    <p-button label="Impressum & Datenschutz" styleClass="p-button-link" [routerLink]="['imprint']"></p-button>
    <p-button label="Über KoALa" styleClass="p-button-link" [routerLink]="['about']"></p-button>
    <p-button label="Handbuch" styleClass="p-button-link" (click)="onHelpPressed()"></p-button>
  </div>
</footer>
