<h1>Über Koala</h1>

<p>
  Koala ist eine Entwicklung der <a href="https://mh-freiburg.de" target="_blank">Hochschule für Musik Freiburg</a> und
  der
  <a href="https://www.hmdk-stuttgart.de/" target="_blank">Hochschule für Musik und Darstellende Kunst Stuttgart</a>.
  Die Entwicklung der App wurde von der
  <a href="https://stiftung-hochschullehre.de/" target="_blank">Stiftung Innovation in der Hochschullehre</a> gefördert.
</p>
<br />
<p-panel header="Was kann Koala?">
  Koala…

  <ul>
    <li>…lässt sich im Musikunterricht flexibel einsetzen, um gemeinsam an Stücken zu arbeiten.</li>
    <li>
      …bietet die Möglichkeit, verschiedene Arten von Annotationen im Verlauf eines Stückes zu setzen, oder Kommentare
      zu einer bestimmten Stelle in einem Stück zu setzen.
    </li>
    <li>
      …ist so gestaltet, dass es sich möglichst nahtlos in unterschiedlichen Arbeitsformen integrieren lässt
      (Kleingruppen, Großgruppen, hybride Settings, Einzelarbeit, Hausaufgaben, etc…).
    </li>
  </ul>
  <p>
    Weitere Informationen finden Sie im Handbuch und auf den Dokumentationsseiten auf Github. Sollten Sie Koala nutzen
    wollen und nicht Mitglied der HfM Freiburg sein, lesen Sie bitte unten die Hinweise. Koala ist freie Software und
    steht allen zur Verfügung.
  </p>
</p-panel>
<p-divider></p-divider>
<p-panel header="Wie kann ich Koala nutzen?">
  Diese Webseite ist die Koala-Instanz der HfM Freiburg. Wenn Sie Mitglied der HfM Freiburg sind, können Sie sich oben
  einfach anmelden (Klick auf „Login“).

  <p>
    Wenn Sie kein Mitglied der HfM Freiburg sind und ihre Institution noch kein Koala hat, können Sie die Software und
    Dokumentation hier finden:
  </p>
  <ul>
    <li>
      <a href="https://github.com/KoALa-MHF/koala-app" target="_blank"
        >Software: https://github.com/KoALa-MHF/koala-app</a
      >
    </li>
    <li>
      <a href="https://koala-mhf.github.io/koala-app/" target="_blank"
        >Dokumentation: https://koala-mhf.github.io/koala-app/</a
      >
    </li>
  </ul>

  Hilfen bei der Installation finden Sie ebenfalls in der
  <a href="https://koala-mhf.github.io/koala-app/" target="_blank">Dokumentation</a>.
</p-panel>
