<button
  pRipple
  pButton
  label=""
  [style.background-color]="marker.color"
  [style.color]="marker.contentColor"
  class="p-button-raised marker-button"
  [class.marker-button-event]="marker.type === MarkerType.Event"
  [class.marker-button-range]="marker.type === MarkerType.Range"
  (click)="onClick()"
  [disabled]="!enabled"
  *ngIf="(marker.type === MarkerType.Event || marker.type === MarkerType.Range) && marker.visible === true"
>
  <koala-marker-icon [iconCode]="marker.icon" [style.color]="marker.contentColor"></koala-marker-icon>
  <span [style.color]="marker.contentColor" [style.margin-left]="marker.icon && marker.abbreviation ? '10px' : '0px'">{{
    active ? 'STOP' : marker.abbreviation
  }}</span>
</button>

<div
  *ngIf="marker.type === MarkerType.Slider && marker.visible === true"
  [style.background-color]="enabled ? marker.color : '#0000001f'"
  [class.marker-button-slider]="marker.type === MarkerType.Slider"
  class="marker-button slider-marker"
>
  <div style="width: 100%">
    <p-slider
      [disabled]="!enabled"
      [(ngModel)]="sliderValue"
      (onSlideEnd)="onSlideEnd()"
      [styleClass]="marker.contentColor === '#000000' ? 'black-slider' : 'white-slider'"
      [min]="marker.valueRangeFrom!"
      [max]="marker.valueRangeTo!"
    ></p-slider>
  </div>
</div>
