.form {
  display: flex;
  align-content: space-between;
  flex-direction: column;
  gap: 25px;
}

.form * {
  width: 100%;
}

.form > * {
  padding-right: 30px;
}

.field-explanation {
  opacity: 50%;
  display: inline-block;
  padding-left: 15px;
}

.inline-component {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
}

.inline-component > * {
  width: auto;
}
