<form [formGroup]="markerDataForm" class="form">
  <div>
    <p-dropdown
      placeholder="{{ 'MARKER.MAINTAIN.MARKER_TYPE_LABEL' | translate }}"
      [options]="markerTypes"
      optionLabel="name"
      optionValue="type"
      [style]="{ minWidth: '100%' }"
      formControlName="type"
    ></p-dropdown>
    <small id="marker-name-help" class="field-explanation"
      >{{ 'MARKER.MAINTAIN.MARKER_TYPE_EXPLANATION' | translate }}
    </small>
  </div>

  <div>
    <span class="p-float-label">
      <input id="marker-name-input" type="text" pInputText aria-describedby="marker-name-help" formControlName="name" />
      <label for="marker-name-input">{{ 'MARKER.MAINTAIN.MARKER_NAME_INPUT_LABEL' | translate }}</label>
    </span>
    <small id="marker-name-help" class="field-explanation">
      {{ 'MARKER.MAINTAIN.MARKER_NAME_INPUT_EXPLANATION' | translate }}
    </small>
  </div>

  <div>
    <span class="p-float-label">
      <textarea
        id="marker-description-textarea"
        rows="5"
        cols="30"
        pInputTextarea
        formControlName="description"
      ></textarea>
      <label for="marker-description-textarea">
        {{ 'MARKER.MAINTAIN.MARKER_DESCRIPTION_INPUT_LABEL' | translate }}
      </label>
    </span>
    <small id="marker-name-help" class="field-explanation">
      {{ 'MARKER.MAINTAIN.MARKER_DESCRIPTION_INPUT_EXPLANATION' | translate }}
    </small>
  </div>

  <div>
    <span class="p-float-label">
      <input
        [maxlength]="markerType !== MarkerType.Event ? 6 : 2"
        id="marker-abbreviation-input"
        type="text"
        formControlName="abbreviation"
        pInputText
      />
      <label for="marker-abbreviation-input">
        {{
          markerType !== MarkerType.Slider
            ? ('MARKER.MAINTAIN.MARKER_ABBREVIATION_INPUT_LABEL' | translate)
            : ('MARKER.MAINTAIN.MARKER_ABBREVIATION_INPUT_LABEL_MANDATORY' | translate)
        }}
      </label>
    </span>
    <small id="marker-name-help" class="field-explanation">
      {{
        markerType !== MarkerType.Slider
          ? ('MARKER.MAINTAIN.MARKER_ABBREVIATION_INPUT_EXPLANATION' | translate)
          : ('MARKER.MAINTAIN.MARKER_ABBREVIATION_INPUT_EXPLANATION_MANDATORY' | translate)
      }}
    </small>
  </div>

  <div *ngIf="markerType === MarkerType.Slider">
    <span class="p-float-label">
      <p-inputNumber id="marker-value-range-from-input" type="number" formControlName="valueRangeFrom"></p-inputNumber>
      <label for="marker-value-range-from-input">
        {{ 'MARKER.MAINTAIN.MARKER_RANGE_FROM_INPUT_LABEL' | translate }}
      </label>
    </span>
    <small id="marker-value-range-from-help" class="field-explanation">
      {{ 'MARKER.MAINTAIN.MARKER_RANGE_FROM_INPUT_EXPLANATION' | translate }}
    </small>
  </div>

  <div *ngIf="markerType === MarkerType.Slider">
    <span class="p-float-label">
      <p-inputNumber id="marker-value-range-to-input" type="number" formControlName="valueRangeTo"></p-inputNumber>
      <label for="marker-value-range-to-input">
        {{ 'MARKER.MAINTAIN.MARKER_RANGE_TO_INPUT_LABEL' | translate }}
      </label>
    </span>
    <small id="marker-value-range-to-help" class="field-explanation">
      {{ 'MARKER.MAINTAIN.MARKER_RANGE_TO_INPUT_EXPLANATION' | translate }}
    </small>
  </div>

  <div>
    <h5 style="display: inline; margin-right: 15px; opacity: 100%">
      {{ 'MARKER.MAINTAIN.MARKER_COLOR_INPUT_LABEL' | translate }}
    </h5>
    <div style="display: inline; margin-right: 15px">
      <p-colorPicker formControlName="color"></p-colorPicker>
    </div>
    <small style="display: inline" id="marker-name-help" class="field-explanation">
      {{ 'MARKER.MAINTAIN.MARKER_COLOR_INPUT_EXPLANATION' | translate }}
    </small>
  </div>

  <div>
    <h5 style="display: inline; margin-right: 15px; opacity: 100%">
      {{
        markerType !== MarkerType.Slider
          ? ('MARKER.MAINTAIN.MARKER_CONTENT_COLOR_INPUT_LABEL' | translate)
          : ('MARKER.MAINTAIN.MARKER_CONTENT_COLOR_INPUT_SLIDER_LABEL' | translate)
      }}
    </h5>
    <div style="display: inline; margin-right: 15px">
      <p-inputSwitch inputId="contentColorSwitch" formControlName="contentColor"></p-inputSwitch>
    </div>
  </div>

  <div *ngIf="markerType !== MarkerType.Slider">
    <p-dropdown
      placeholder="{{ 'MARKER.MAINTAIN.MARKER_ICON_INPUT_LABEL' | translate }}"
      [options]="icons"
      optionValue="code"
      [style]="{ minWidth: '100%' }"
      formControlName="icon"
      [showClear]="true"
    >
      <ng-template let-item pTemplate="selectedItem">
        <span>
          <koala-marker-icon [iconCode]="item.code"></koala-marker-icon>
          <span style="margin-left: 10px">{{ 'ICONS.' + item.name | translate }}</span>
        </span>
      </ng-template>
      <ng-template let-object pTemplate="item">
        <span>
          <koala-marker-icon [iconCode]="object.code"></koala-marker-icon>
          <span style="margin-left: 10px">{{ 'ICONS.' + object.name | translate }}</span>
        </span>
      </ng-template>
    </p-dropdown>
    <small id="marker-name-help" class="field-explanation">
      {{ 'MARKER.MAINTAIN.MARKER_ICON_INPUT_EXPLANATION' | translate }}
    </small>
  </div>
</form>
